# ================================
# Data folders (keep folder, ignore contents)
# ================================

# Ignore everything inside data/
data/*
!data/
!data/README.md

# Ignore everything inside scripts/playground_data/
scripts/playground_data/*
!scripts/playground_data/
!scripts/playground_data/README.md

# ================================
# Ignore full folders
# ================================

notebooks/
konexys_test/
__pycache__/

# ================================
# Ignore files
# ================================

genericize_konexys.sh
*.pyc
*.Zone.Identifier

# ================================
# Sphinx build
# ================================

docs/_build/

# ================================
# Virtual environment
# ================================

.venv/