# Ignore all contents of data/
data/*
scripts/playground_data/*

# Keep the folder itself (so it's tracked)
!data/.gitkeep
!scripts/playground_data/ .gitkeep

# Ignore folder
konexys_test/
__pycache__/

# Ignore files
genericize_konexys.sh
*.pyc
*.Zone.Identifier

# Sphinx build
docs/_build/

# Virtual environment
.venv/